nav > ul > li{
        display: inline;
        margin-right: 15px;
        
}
nav li > a{
    text-decoration: none;
}
footer{
    margin-top: 40px;
    text-align: center;
}
article footer a{
    text-decoration: none;
}
#m{
    color: rgb(255, 0, 68);
}